In [ ]:
import pandas as pd
import random

data = {
    'Tipe Ujian' : ['UTS1', 'UAS1', 'UTS2', 'UAS2']*3,
    'Mata Pelajaran' : ['Fisika']*4 + ['Matematika']*4+['Statistika']*4,
    'Rata2 Waktu Belajar (menit)' : [random.choice(range(200, 800)) for i in range(12)],
    'Rata2 Nilai Ujian' : [random.choice(range(40, 100)) for i in range(12)] 
}

df = pd.DataFrame(data)
df

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
0        UTS1         Fisika                          710                 46
1        UAS1         Fisika                          707                 51
2        UTS2         Fisika                          494                 44
3        UAS2         Fisika                          335                 96
4        UTS1     Matematika                          347                 49
5        UAS1     Matematika                          457                 60
6        UTS2     Matematika                          431                 85
7        UAS2     Matematika                          470                 91
8        UTS1     Statistika                          240                 99
9        UAS1     Statistika                          780                 78
10       UTS2     Statistika                          650                 81
11       UAS2     Statistika                          312                 48



---



---

## Soal 1. Data Cleaning

Lakukan sorting data berdasarkan Rata2 nilai ujian dari terbesar ke terkecil

*   Lakukan sorting data berdasarkan Rata2 nilai ujian dari terbesar ke terkecil
*   Tipe Ujian dan Mata pelajaran apakah yang memiliki rata2 nilai terkecil?

In [ ]:
#code here
df.sort_values('Rata2 Nilai Ujian', ascending=False)

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
8        UTS1     Statistika                          240                 99
3        UAS2         Fisika                          335                 96
7        UAS2     Matematika                          470                 91
6        UTS2     Matematika                          431                 85
10       UTS2     Statistika                          650                 81
9        UAS1     Statistika                          780                 78
5        UAS1     Matematika                          457                 60
1        UAS1         Fisika                          707                 51
4        UTS1     Matematika                          347                 49
11       UAS2     Statistika                          312                 48
0        UTS1         Fisika                          710                 46
2        UTS2         Fisika                          494                 44

Expected output:

(Output bisa berbeda-beda)

![alt text](https://drive.google.com/uc?id=1iv8P-LDdN3WpTVX9qST3kL7QSNSDiOc2)

Rata-rata nilai terkecil didapatkan ketika tipe ujiannya UTS1 dan UAS1 pada mata pelajaran Matematika dan Fisika.

---



---

<h2>Soal 2: Data Restructuring</h2>

Jelaskan itu pivoting dan melting data

>**Jawab:**<br>
Pivoting merupakan proses pengubahan data semulanya baris menjadi kolom atau data yang panjang menjadi lebar. Sedangkan Melting data sebaliknya yaitu proses pengubahan data yang semulanya kolom menjadi baris atau data yang semulanya lebar menjadi panjang.



---



---

<h2>Soal 3: Reshaping Data 1</h2>

In [ ]:
import pandas as pd
import random

data = {
    'Tipe Ujian' : ['UTS1', 'UAS1', 'UTS2', 'UAS2']*3,
    'Mata Pelajaran' : ['Fisika']*4 + ['Matematika']*4+['Statistika']*4,
    'Rata2 Waktu Belajar (menit)' : [random.choice(range(200, 800)) for i in range(12)],
    'Rata2 Nilai Ujian' : [random.choice(range(40, 100)) for i in range(12)] 
}

df = pd.DataFrame(data)
df

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
0        UTS1         Fisika                          505                 60
1        UAS1         Fisika                          787                 77
2        UTS2         Fisika                          609                 93
3        UAS2         Fisika                          445                 42
4        UTS1     Matematika                          248                 45
5        UAS1     Matematika                          310                 56
6        UTS2     Matematika                          730                 42
7        UAS2     Matematika                          652                 76
8        UTS1     Statistika                          653                 51
9        UAS1     Statistika                          235                 55
10       UTS2     Statistika                          599                 83
11       UAS2     Statistika                          397                 76

Perhatikan data di atas, kemudian ubahlah bentuknya agar sesuai yang di harapkan.

In [ ]:
#code here
pd.pivot(df, index='Tipe Ujian', columns='Mata Pelajaran', values=['Rata2 Nilai Ujian', 'Rata2 Waktu Belajar (menit)'])

               Rata2 Nilai Ujian             ... Rata2 Waktu Belajar (menit)
Mata Pelajaran            Fisika Matematika  ...                  Matematika Statistika
Tipe Ujian                                   ...
UAS1                          59         96  ...                         735        298
UAS2                          66         95  ...                         357        593
UTS1                          58         41  ...                         400        228
UTS2                          44         90  ...                         786        715

[4 rows x 6 columns]

Expected Result:

(Output bisa berbeda-beda)

![alt text](https://drive.google.com/uc?id=1XufsfqZe7-XZLsb92SpATexy-QRZE0ow)



---



---

<h2>Soal 4: Reshaping Data 2</h2>

In [ ]:
import pandas as pd

data = {
    'Hari' : ['Sabtu', 'Minggu'],
    'Kebun Binatang' : [271, 399],
    'Dufan' : [501, 700],
    'Disney' : [1000, 1001],
    'Bali' : [900, 803]
}
df = pd.DataFrame(data).set_index('Hari')
df

        Kebun Binatang  Dufan  Disney  Bali
Hari
Sabtu              271    501    1000   900
Minggu             399    700    1001   803

diatas adalah data tentang jumlah pengunjung di berbagai tempat hiburan, ubahlah struktur data tersebut sehingga sesuai dengan hasil yang diharapkan.

In [ ]:
#code here
df.reset_index().melt(id_vars='Hari', var_name='Tempat Hiburan', value_name='Pengunjung')
# pd.DataFrame(data).melt(id_vars='Hari', var_name='Tempat Hiburan', value_name='Pengunjung')

     Hari  Tempat Hiburan  Pengunjung
0   Sabtu  Kebun Binatang         271
1  Minggu  Kebun Binatang         399
2   Sabtu           Dufan         501
3  Minggu           Dufan         700
4   Sabtu          Disney        1000
5  Minggu          Disney        1001
6   Sabtu            Bali         900
7  Minggu            Bali         803

Expected Result:

(Output bisa berbeda-beda)

![alt text](https://drive.google.com/uc?id=159mIqcyfeD30EEcyZmmkovORa6cZDLtn)



---



---

<h2>Soal 5: Data Enrichment</h2>

Lakukan binning data menggunakan qcut sehingga sesuai hasil yang diharapkan

In [ ]:
#code here
df['Keterangan kelulusan'] = pd.qcut(df['Rata2 Nilai Ujian'], q=3, labels=['tidak lulus', 'remidial', 'lulus'])

df

   Tipe Ujian Mata Pelajaran  ...  Rata2 Nilai Ujian  Keterangan kelulusan
0        UTS1         Fisika  ...                 60              remidial
1        UAS1         Fisika  ...                 77                 lulus
2        UTS2         Fisika  ...                 93                 lulus
3        UAS2         Fisika  ...                 42           tidak lulus
4        UTS1     Matematika  ...                 45           tidak lulus
5        UAS1     Matematika  ...                 56              remidial
6        UTS2     Matematika  ...                 42           tidak lulus
7        UAS2     Matematika  ...                 76              remidial
8        UTS1     Statistika  ...                 51           tidak lulus
9        UAS1     Statistika  ...                 55              remidial
10       UTS2     Statistika  ...                 83                 lulus
11       UAS2     Statistika  ...                 76              remidial

[12 rows x 5 columns]

Expected Output:

(Output bisa berbeda-beda)

![alt text](https://drive.google.com/uc?id=1h2_u5_xhD1_QtPpItTj-o3lljHhnr4XS)



---



---